<nz-table #basicTable [nzData]="data">
  <thead>
    <tr>
      <th>Descrição</th>
      <th>{{ isManager ? 'Resp. pela Despesa' : 'Resp. Assinar' }}</th>
      <th>Valor</th>
      <th>Status</th>
      <th *ngIf="isManager && data.status === 'Pendente'">Assinar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{ data.description }}</td>
      <td>{{ data.manager }}</td>
      <td>{{ data.value }}</td>
      <td>
        <span [ngClass]="{
          'status-bubble-pendente': data.status === 'Pendente',
          'status-bubble-aprovado': data.status === 'Aprovado',
          'status-bubble-rejeitado': data.status === 'Rejeitado'
        }">{{ data.status }}</span>
        <button *ngIf="isManager && data.status === 'Pendente'" nz-button nzType="primary" (click)="assinarDespesa(data)" class="assinar-button">
          Assinar
        </button>
      </td>
    </tr>
  </tbody>
</nz-table>
