#login-form {
  height: 100vh;
  width: 96vw;
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-form {
  width: 25%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form-margin {
  margin-bottom: 16px;
  color: white;
  background-color: rgba(24, 144, 255, 255);
  border-radius: 2px;
  border: 1px solid rgba(200, 200, 200, 0.5);
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  cursor: pointer;
  width: 100%;
}

.ant-form-item {
  width: 100%;
}

.login-form h1 {
  font-size: 3.5rem;
  margin-bottom: 24px;
}
